## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 5
print(a)

5

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [7]:
mi_Nombre = "Franco"

5) Crear una variable que contenga un número complejo

In [5]:
num = 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(num)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
boolean1 = True
boolean2 = 'True'
#No se trata de lo mismo uno es un valor booleano y el otro un String

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(boolean1))
print(type(boolean2))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
num1 = 5
num2 = 3.5
num3 = num1 + num2
print(num3)

8.5

11) Realizar una operación de suma de números complejos

In [13]:
numComplejo1 = 4j
numComplejo2 = 15j

resultado = numComplejo1 + numComplejo2

print(resultado)

19j

12) Realizar una operación de suma de un número real y otro complejo

In [33]:
numeroReal = 5.6
numeroReal2 = 5j
result = numeroReal + numeroReal2
print(result)

(5.6+5j)

13) Realizar una operación de multiplicación

In [14]:
numMultiplicacion1 = 6
numMultiplicacion2 = 5
resultadoMulti = numMultiplicacion1 * numMultiplicacion2
print(resultadoMulti)

30

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
Potencia = 2**8
print(Potencia)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [13]:
numCociente1 = 27
numCociente2 = 4

resultado = 27/4
print(resultado)

6.75

16) De la división anterior solamente mostrar la parte entera

In [12]:
numCociente1 = 27
numCociente2 = 4

resultadoEntero = 27//4
print(resultadoEntero)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [17]:
numCociente1 = 27
numCociente2 = 4

resultadoEntero2 = 27%4
print(resultadoEntero2)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [22]:
producto = ( 4 * resultadoEntero) + resultadoEntero2
print(producto)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [24]:
x= False
a = False
print(x^a)

False

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
num1 = "2"
num2 = 2
print(num1 == num2)
#Son distintos tipos de datos

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
num1 = int("2")
num2 = 2
print(num1 == num2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [31]:
#Da error porque el numero flotante  es separado por un punto no por una coma
a = float('8.3')
print(type(a))

<class 'float'>

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [32]:
variable = 3
variable -=1
print(variable)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [2]:
print(1<<2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [40]:
#No esta permitido porque tienen que ser del mismo tipo de dato y siempre arrojaria el mismo resultado.Por ejemplo:
num1 = 2
num2 = 2
num3 = num1 + num2
print(num3)
text1 = "Hola "
text2= "Mundo"
text3 = text1 + text2
print(text3)

4
Hola Mundo

26) Realizar una operación válida entre valores de tipo entero y string

In [1]:
num1 = "5"
num2 = 4
resultado = int(num1) * num2
print(resultado)

20